<!DOCTYPE html>
<html lang="en">


<head id="<%=ref_id%>">
    <title><%=school%> - Syntax School Management Software</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
      <meta name="description" content="School Management Software">
        <meta name="author" content="Syntax School Management Software">
      
      <!-- Favicon icon -->
      <link rel="icon" href="https://alxproject.virilesoftware.com/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
      <!-- themify icon -->
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/icon/themify-icons/themify-icons.css">
      <!-- ico font -->
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/icon/icofont/css/icofont.css">
      <link href="https://alxproject.virilesoftware.com/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://alxproject.virilesoftware.com/lib/Ionicons/css/ionicons.css" rel="stylesheet">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/lib/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/css/menu.css">
      <link rel="stylesheet" href="https://alxproject.virilesoftware.com/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://alxproject.virilesoftware.com/lib/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://alxproject.virilesoftware.com/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
      <link href="https://alxproject.virilesoftware.com/css/select2.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/css/slim.css">
      
      <link rel="stylesheet" type="text/css" href="https://alxproject.virilesoftware.com/css/jquery.mCustomScrollbar.css">
<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
  </head>

  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <!-- Menu header start -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="https://alxproject.virilesoftware.com/eportal">
                            <img class="img-fluid" src="https://alxproject.virilesoftware.com/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <div>
                            <ul class="nav-left">
                                <li>
                                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                                </li>
                               
                                <li>
                                    <a href="#!" onclick="javascript:toggleFullScreen()">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                                
                            </ul>
                            <ul class="nav-right">
                               
                                <li class="header-notification d-none">
                                    <a href="#!">
                                        <i class="ti-bell"></i>
                                        <span class="badge">5</span>
                                    </a>
                                    <ul class="show-notification">
                                        <li>
                                            <h6>Notifications</h6>
                                            <label class="label label-danger">New</label>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="d-flex align-self-center" src="https://alxproject.virilesoftware.com/images/user.png" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">John Doe</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="d-flex align-self-center" src="https://alxproject.virilesoftware.com/images/user.png" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Joseph William</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <img class="d-flex align-self-center" src="https://alxproject.virilesoftware.com/images/user.png" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5 class="notification-user">Sara Soudein</h5>
                                                    <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                    <span class="notification-time">30 minutes ago</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                
                                <li class="user-profile header-notification">
                                    <a href="#!">
                                        <img src="<%=picture%>" alt="User-Profile-Image">
                                        <span><%=name%></span>
                                        <i class="ti-angle-down"></i>
                                    </a>
                                    <ul class="show-notification profile-notification">
                                       <li>
                                            <a href="https://alxproject.virilesoftware.com/eportal">
                                                <i class="ti-email"></i> My Messages
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="#!">
                                                <i class="ti-layout-sidebar-left"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </nav>

            
            
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar" pcoded-header-position="relative">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40" src="<%=school_picture%>" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span><%=name%></span>
                                        <span id="more-details"><%=position%></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    
                                </div>
                            </div>
                            <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms" menu-title-theme="theme5">NAVIGATION</div>
                            <ul class="pcoded-item pcoded-left-item" id="side-menu">
                                
                            </ul>
                            
                            
                            
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                                <div class="container">
                                <div class="slim-pageheader">
                                  <ol class="breadcrumb slim-breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Academic</a></li>
                                    <li class="breadcrumb-item"><a href="#">Class</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><%=cls%></li>
                                  </ol>
                                  <h6 class="slim-pagetitle"><%=cls%></h6>
                                </div><!-- slim-pageheader -->
                    
                        <div class="section-wrapper mg-t-20">
          <div class="row">
          <div class="col-lg-12  col-sm-12 col-xs-12">
          <div class="card-body" id="biodata">
                
              </div><!-- card-body -->
              </div>
          
          </div>
          <div class="row">
            <div class="col-md">
              <div class="card">
               
                <div class="card-header bg-dark">
                  <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#student_list" data-toggle="tab">Student</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#attendances" data-toggle="tab">Attendance</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#result" data-toggle="tab">Result</a>
                    </li>
                  </ul>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="student_list">
                    
                    <div class="table-responsive">
                      <table class="table table-bordered mg-b-0 tx-14"  id="tabledata">
                      <thead class="thead-colored  bg-success">
                    <tr> <th>S/N</th><th>Name</th><th>Admission No</th><th>Class</th><th>Gender</th><th>Admission Date</th></tr></thead>
                        <tbody  id="tablebodys">
                          
                        </tbody>
                      </table>
                    </div><!-- table-responsive -->
                    </div>
                    
                    <div class="tab-pane" id="attendances">
                    
                    <div class="card card-table">
                      <div class="table-responsive">
                      <table class="table mg-b-0 tx-12"  id="sssdata">
                        <tbody  id="sssbody">
                          
                        </tbody>
                      </table>
                    </div><!-- table-responsive -->
                    </div>
                    </div><!-- tab-pane -->
                    
                    <div class="tab-pane" id="result">
                    
                    
                      <div class="row">
            
                        <div class="col-lg-7 mg-t-10 mg-lg-t-0">
                          <select class="form-control select2-show-search" data-placeholder="Student" id="student_list_form"  style="width: 100%;"  data-rule-required="true">
                                
                            </select>
                        </div><!-- col-4 -->
                        <div class="col-lg-3 mg-t-10 mg-lg-t-0">
                          <select class="form-control select2" data-placeholder="Term" id="session_term_home" style="width: 100%;">
                          
                            <option value="First Term">First Term</option>
                            <option value="Second Term">Second Term</option>
                            <option value="Third Term">Third Term</option>
                            
                          </select>
                        </div><!-- col-4 -->
                        <div class="col-lg-2 mg-t-10 mg-lg-t-0">
                          <a href="javascript:void(0)" class="btn btn-outline-success mg-b-10" id="filter_search_home">Load</a>
                          
                        </div><!-- col-4 -->
                        
                        </div>
                    <div class="row">
                    <div class="table-responsive mg-b-20">
                      <table class="table table-bordered mg-b-30 tx-14 bd-warning"  id="studentdata">
                      
                      </table>
                    </div>
                    <div class="table-responsive">
                      
                      <table class="table table-bordered mg-b-0 tx-14"  id="resultdata">
                      
                      </table>
                    </div><!-- table-responsive -->
                    </div>
                    <div class="section-wrapper mg-t-20 d-none" id="personal_behaviorial">
                    <h4>Assessment for Behavioriar Skill</h4>
                      <label class="section-title">PERSONAL</label>
                      
                      <div class="row">
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Obedience: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="obedience"data-placeholder="Choose one" style="width: 100%;" data-placeholder="Obedience">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Honesty: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="honesty"data-placeholder="Choose one" style="width: 100%;">
                          <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Self Control: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="self_control" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Self Reliance: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose one" id="self_reliance" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Initiative: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="initiative" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                        
                        
                      </div><!-- row -->
                      <label class="section-title">RESPONSIBILITY</label>
                      
                      <div class="row">
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Punctuality: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="punctuality"data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Neatness: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="neatness"data-placeholder="Choose one" style="width: 100%;">
                          <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Perseverance: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="perseverance" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Attendance: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose one" id="attendance" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Attentiveness: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="attentiveness" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                        
                        
                      </div><!-- row -->
                      
                      <label class="section-title">SOCIAL DEVELOPMENT</label>
                      
                      <div class="row">
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Politeness: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="politeness" data-placeholder="Choose one" style="width: 100%;" data-placeholder="Obedience">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Consideration: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="consideration"data-placeholder="Choose one" style="width: 100%;">
                          <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Sociability: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="sociability" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Promptness: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose one" id="promptness" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Sense of Value: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="sense_of_value" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                        
                        
                      </div><!-- row -->
                      
                      <label class="section-title">PSYCHOMOTOR</label>
                      
                      <div class="row">
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Handwriting: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="handwriting" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Communication: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="communication"data-placeholder="Choose one" style="width: 100%;">
                          <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0 mg-b-10">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Sport and Games: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="sport_games" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Manual Skill: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose one" id="manual_skill" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Dexterity: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="dexterity" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                        
                        
                      </div><!-- row -->
                      
                      
                    </div><!-- section-wrapper -->
                    
                    <div class="section-wrapper mg-t-20 d-none" id="sport_behaviorial">
                    <h4>SPORT</h4>
                      
                      <div class="row">
                      <div class="col-lg-4 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">INDOOR GAMES: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose one" style="width: 100%;" id="indoor_games">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">BALL GAMES: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="ball_games"data-placeholder="Choose one" style="width: 100%;">
                          <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">COMBATIVE GAMES: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="combative_games" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">TRACKS: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose one" id="tracks" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">JUMPS: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="jumps" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">THROWS: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="throws" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">SWIMMING: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="swimming" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">WEIGHT LIFTING: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="weight_lifting" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT(A)[5]</option>
                            <option value="4">HIGH LEVEL(B)[4]</option>
                            <option value="3">ACCEPTABLE LEVEL(C)[3]</option>
                            <option value="1">MINIMAL LEVEL(D)[1]</option>
                            <option value="0">NO TRIAL(E)[0]</option>
                            
                          </select>
                        </div>
                      </div>
                        
                        
                      </div><!-- row -->
                      </div>
                      
                      
                      <div class="section-wrapper mg-t-20 d-none" id="affective_behaviorial">
                    <h4>AFFECTIVE</h4>
                      
                      <div class="row">
                      <div class="col-lg-4 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Attentiveness: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="pri_attentiveness" data-placeholder="Choose one" style="width: 100%;" data-placeholder="indoor_games">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">School Work: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="school_work" data-placeholder="Choose one" style="width: 100%;">
                          <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Cooperating: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="cooperating" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Emotion: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose one" id="emotion" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Health: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="health" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Helping: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="helping" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Honesty: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="pri_honesty" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Leadership: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="leadership" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Attendance: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="pri_attendance" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Neatness: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="pri_neatness" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div><div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Perseverance: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="pri_perseverance" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div><div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Politeness: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="pri_politeness" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Punctuality: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="pri_punctuality"data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Speaking and Writing: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="speaking_writing" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                        
                        
                      </div><!-- row -->
                      </div>
                      
                      
                      
                    <div class="section-wrapper mg-t-20 d-none"  id="psychomotor_behaviorial">
                    <h4>PSYCHOMOTOR SKILL</h4>
                      
                      <div class="row">
                      <div class="col-lg-4 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Drawing and Painting: <span class="tx-danger">*</span></label>
                            <select class="form-control select2"   data-placeholder="Choose one" style="width: 100%;" id="drawing_painting">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Handling Tools: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="handling_tools"data-placeholder="Choose one" style="width: 100%;">
                          <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Games: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" id="pri_games" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Handwriting: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose one" id="pri_handwriting" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Music: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="music" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Sport: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="pri_sport" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 mg-b-20">
                       <div class="form-group mg-b-0">
                       <label class="form-control-label mg-b-0-force">Verbal Fluency: <span class="tx-danger">*</span></label>
                       <select class="form-control select2" data-placeholder="Choose One" id="verbal_fluency" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">GOOD</option>
                            <option value="3">FAIR</option>
                            <option value="2">POOR</option>
                            <option value="1">VERY POOR</option>
                          </select>
                        </div>
                      </div>
                      
                        
                        
                      </div><!-- row -->
                      </div>

                      <div class="section-wrapper mg-t-20 d-none"  id="behaviorial_skill_assessment">
                        <h4>  BEHAVIORIAL AND SKILL ASSESSMENT</h4>
                          
                          <div class="row">
                          <div class="col-lg-4 mg-b-20">
                          <div class="form-group mg-b-0">
                          <label class="form-control-label mg-b-0-force">Obedience: <span class="tx-danger">*</span></label>
                                <select class="form-control select2"   data-placeholder="Choose one" style="width: 100%;" id="pre_obedience">
                                <option label="Choose one"></option>
                                <option value="5">EXCELLENT</option>
                                <option value="4">HIGH LEVEL</option>
                                <option value="3">ACCEPTABLE LEVEL</option>
                                <option value="2">MINIMAL LEVEL</option>
                                <option value="0">NO TRIAL</option>
                                
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 mg-b-20">
                          <div class="form-group mg-b-0">
                          <label class="form-control-label mg-b-0-force">Honesty: <span class="tx-danger">*</span></label>
                           <select class="form-control select2" id="pre_honesty"data-placeholder="Choose one" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 mg-b-20">
                           <div class="form-group mg-b-0">
                           <label class="form-control-label mg-b-0-force">Self Control: <span class="tx-danger">*</span></label>
                           <select class="form-control select2" id="pre_self_control" data-placeholder="Choose one" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">HIGH LEVEL</option>
                            <option value="3">ACCEPTABLE LEVEL</option>
                            <option value="2">MINIMAL LEVEL</option>
                            <option value="0">NO TRIAL</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 mg-b-20">
                           <div class="form-group mg-b-0">
                           <label class="form-control-label mg-b-0-force">Self Reliance: <span class="tx-danger">*</span></label>
                           <select class="form-control select2" data-placeholder="Choose one" id="pre_self_reliance" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">HIGH LEVEL</option>
                            <option value="3">ACCEPTABLE LEVEL</option>
                            <option value="2">MINIMAL LEVEL</option>
                            <option value="0">NO TRIAL</option>
                                
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 mg-b-20">
                           <div class="form-group mg-b-0">
                           <label class="form-control-label mg-b-0-force">Intiative: <span class="tx-danger">*</span></label>
                           <select class="form-control select2" data-placeholder="Choose One" id="pre_initiative" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">HIGH LEVEL</option>
                            <option value="3">ACCEPTABLE LEVEL</option>
                            <option value="2">MINIMAL LEVEL</option>
                            <option value="0">NO TRIAL</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 mg-b-20">
                           <div class="form-group mg-b-0">
                           <label class="form-control-label mg-b-0-force">Punctuality: <span class="tx-danger">*</span></label>
                           <select class="form-control select2" data-placeholder="Choose One" id="pre_punctuality" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">HIGH LEVEL</option>
                            <option value="3">ACCEPTABLE LEVEL</option>
                            <option value="2">MINIMAL LEVEL</option>
                            <option value="0">NO TRIAL</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 mg-b-20">
                           <div class="form-group mg-b-0">
                           <label class="form-control-label mg-b-0-force">Politeness: <span class="tx-danger">*</span></label>
                           <select class="form-control select2" data-placeholder="Choose One" id="pre_politeness" style="width: 100%;">
                            <option label="Choose one"></option>
                            <option value="5">EXCELLENT</option>
                            <option value="4">HIGH LEVEL</option>
                            <option value="3">ACCEPTABLE LEVEL</option>
                            <option value="2">MINIMAL LEVEL</option>
                            <option value="0">NO TRIAL</option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Perseverance: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_perseverance" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                          
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Attentiveness: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_attentiveness" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>

                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Attendance: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_attendance" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>

                           
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Consideration: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_consideration" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Sociability: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_sociability" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Promptness: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_promptness" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Sense of Value: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_sense_of_value" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Handwriting: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_handwriting" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                            
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Communication: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_communication" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Sport and Games: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_sport_and_games" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>

                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Manual Skills: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_manual_skill" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>

                           <div class="col-lg-4 mg-b-20">
                            <div class="form-group mg-b-0">
                            <label class="form-control-label mg-b-0-force">Dexterity: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose One" id="pre_dexterity" style="width: 100%;">
                              <option label="Choose one"></option>
                              <option value="5">EXCELLENT</option>
                              <option value="4">HIGH LEVEL</option>
                              <option value="3">ACCEPTABLE LEVEL</option>
                              <option value="2">MINIMAL LEVEL</option>
                              <option value="0">NO TRIAL</option>
                               </select>
                             </div>
                           </div>
                            
                          </div><!-- row -->
                          </div>


                    <div class="section-wrapper mg-t-20 d-none" id="attendance_section">
                      <div class="row">
                      <div class="col-lg-12 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">No of time present: <span class="tx-danger">*</span></label>
                            <input class="form-control" placeholder="" type="text" id="no_present">
                        </div>
                      </div>
                      
                      </div>
                    </div>
                    
                    <div class="section-wrapper mg-t-20 d-none"  id="secondary_comment">
                    <h4>Comment</h4>
                      
                      <div class="row">
                      <div class="col-lg-12 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Teacher Comment: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="secondary_teacher_comment"data-placeholder="" style="width: 100%;">
                           
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-12 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Principal Comment: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="principal_comment"data-placeholder="" style="width: 100%;">
                            
                            
                          </select>
                        </div>
                      </div>
                      
                      <div class="col-lg-12 mg-b-20 d-none" id="principal_promotion_panel">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Promotion Values: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="principal_promotion"data-placeholder="" style="width: 100%;">
                            
                            
                          </select>
                        </div>
                      </div>
                        
                      </div><!-- row -->
                      </div>
                      
                      
                      <div class="section-wrapper mg-t-20 d-none"  id="primary_comment">
                    <h4>Comment</h4>
                      
                      <div class="row">
                      <div class="col-lg-12 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Teacher Comment: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="primary_teacher_comment"data-placeholder="" style="width: 100%;" >
                            
                            
                          </select>
                        </div>
                      </div>
                     
                      <div class="col-lg-12 mg-b-20">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">HM Comment: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="hm_comment" data-placeholder="" style="width: 100%;">
                            
                            
                          </select>
                        </div>
                      </div>
                      
                      <div class="col-lg-12 mg-b-20 d-none" id="hm_promotion_panel">
                      <div class="form-group mg-b-0">
                      <label class="form-control-label mg-b-0-force">Promotion Values: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" id="hm_promotion"data-placeholder="" style="width: 100%;">
                            
                            
                          </select>
                        </div>
                      </div>
                     
                        
                      </div><!-- row -->
                      </div>
                    <div class="row mg-t-30 d-none" id="save_section">
                  <div class="col-sm-8 mg-l-auto">
                    <div class="form-layout-footer">
                      <button class="btn btn-success bd-0 load-submit_detail" data-page="save">Save</button>
                      <a class="btn btn btn-success disabled d-none" href="javascript:;" id="processing-btn"> Processing</a>
                      
                    </div><!-- form-layout-footer -->
                  </div><!-- col-8 -->
                
                    </div><!-- section-wrapper -->
                    </div><!-- tab-pane -->
                    
                    
                    
                    
                  </div><!-- tab-content -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            
          </div><!-- row -->
        </div><!-- section-wrapper -->
                </div>
            </div>
        </div>
    </div>
</div>


    
    
    <div id="select_teacher" class="modal fade" >
      <div class="modal-dialog modal-lg" role="document" style="min-width:320px">
        <div class="modal-content tx-size-sm">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Select Teacher</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-20">
           <div class="col-12 mg-t-20 mg-lg-t-0">
              <select class="form-control select2-show-search" data-placeholder="Select Teacher" style="width:100%;" id="select_class">
                
              </select>
        </div><!-- col-4 -->
       
          </div><!-- modal-body -->
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary"  id="load-submit">Save</button>
            <a class="btn btn btn-success disabled d-none" href="javascript:;" id="processing-btn"> Processing</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    
<!-- Older IE warning message -->
    <!--[if lt IE 9]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="https://alxproject.virilesoftware.com/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="https://alxproject.virilesoftware.com/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="https://alxproject.virilesoftware.com/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="https://alxproject.virilesoftware.com/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="https://alxproject.virilesoftware.com/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jqurey -->
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jquery.min.js"></script>
<script src="https://alxproject.virilesoftware.com/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/tether/dist/js/tether.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/modernizr/modernizr.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/modernizr/feature-detects/css-scrollbars.js"></script>
<!-- classie js -->
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/classie/classie.js"></script>

<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jquery.storageapi.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/jwt-decode.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/auth.js"></script>
<script src="https://alxproject.virilesoftware.com/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/form-validation/validate.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/sweetalert/sweetalert.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="https://alxproject.virilesoftware.com/lib/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/js/jszip.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/js/pdfmake.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/js/vfs_fonts.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/extensions/buttons/js/dataTables.buttons.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/extensions/buttons/js/buttons.flash.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/extensions/buttons/js/jszip.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/extensions/buttons/js/pdfmake.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/extensions/buttons/js/vfs_fonts.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/extensions/buttons/js/buttons.colVis.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/data-table/extensions/buttons/js/pdfmake.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="https://alxproject.virilesoftware.com/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/menu_teacher_home.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/main.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/lib/select2/js/select2.full.min.js"></script>
<!-- pcmenu js -->
<script src="https://alxproject.virilesoftware.com/js/pcoded.min.js"></script>
<script src="https://alxproject.virilesoftware.com/js/template.js"></script>
<script src="https://alxproject.virilesoftware.com/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://alxproject.virilesoftware.com/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="https://alxproject.virilesoftware.com/js/classdetail_teacher.js"></script>
<script>
$('.select2-show-search').select2({
          minimumResultsForSearch: ''
        });
</script>
</body>


</html>
